name: autofix.ci

on:
  pull_request:
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Convert to WebP
        id: convert
        run: |
          sudo apt-get -y install webp
          pip install webp-converter
          cd hud-resources
          WEBP_OUTPUT="$(webpc -q=75 --r)"
          echo "$WEBP_OUTPUT" | grep -q "NOT convert" | ( ! grep -q "Converted files count: 0" )
          echo "$WEBP_OUTPUT"
      - name: Compress WebP
        id: compress
        uses: mastercoms/image-actions@check-local-changes
        with:
          compressOnly: true
          webpQuality: '90'
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
