name: Check HUDs

on:
  push:
  pull_request:

jobs:
  check:
    name: Check HUDs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v4
      with:
        key: ${{ github.ref }}
        path: .cache
    - uses: pnpm/action-setup@v4.2.0
      with:
        version: 7
    - name: Check
      run: |
        pnpm i
        pnpm lint
        pnpm check
